<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@500&family=PT+Serif&family=Protest+Strike&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="coor.css">
    <script src="https://kit.fontawesome.com/1da44d6aef.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-top-right.css' rel='stylesheet'>
    
    <title>Document</title>
</head>
<body>
    <div id="app2">
        <nav>
            <ul class="side" :style="{display : modal}">
                <li><h1>Kov.</h1></li>
                <li><a href="D:\MasterCAWEB\Portfolio\CV-Job.pdf">CV</a></li>
                <li><a href="D:\MasterCAWEB\Portfolio\french\fran.html">Home</a></li>
                <span @click="fermer">&times;</span>
            </ul>
            <ul class="side2">
                <li><h1>Kov.</h1></li>
                <li class="CV"><a href="D:\MasterCAWEB\Portfolio\CV-Job.pdf">CV</a></li>
                <li class="contact"><a href="D:\MasterCAWEB\Portfolio\french\fran.html">Home</a></li>
                <button @click="ouvre">|||||</button>
            </ul>
        </nav>
    </div>
      
   <div class="section1">
        <div class="presentation">
            <h3>Kovan BACHAR</h3>
            <h1>Contact Form</h1>
            <q>I will be so happy to have a discussion with you. Please fill the 
                form down below if you want to talk
            </q>
            <a href="D:\MasterCAWEB\Portfolio\CV-Job.pdf">CV</a>
            <a href="https://www.linkedin.com/in/kovan-bachar-7b767a204/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="pres">
            <img src="ssss.png">
        </div>
   </div>



    <div id="app3">
        <form>
            <label for="name">Name :</label>
            <input type="text" v-model="name" id="name">

            <label for="email">E-Mail :</label>
            <input type="email" v-model="email" id="email">

            <label for="message">Message :</label>
            <textarea id="message" v-model="message"></textarea>
        </form>
        <div >
            <button @click="envoyer">Envoyer</button>
            <div class="modal" :style="{display : myModal}">
                <div class="content">
                    <h2>Thank you</h2><br><br>
                    <p>Thank you for contacting me</p>
                    <span class="close" @click="fermer">&times;</span>
                </div>
            </div>
        </div>
    </div>

   

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>